* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body, .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: .14rem;
}

.wrap {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
}

header a:nth-child(2) {
  margin: 0 .1rem;
}

section {
  flex: 1;
  overflow: hidden;
}

section .list {
  width: 100%;
  height: auto;
}

section .list li {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #cdcdcd;
}

section .list li span {
  line-height: .4rem;
}

footer {
  width: 100%;
  height: .45rem;
  background: aquamarine;
  text-align: center;
  line-height: .45rem;
}
